section.quiz{
	margin: 2em 0;
	text-align: left;
	div.contador{
		@include display(flex);
		@include justify-content(center);
		margin-bottom: 1em;
		div{
			$tamanho-bolinhas: 10px;
			width: $tamanho-bolinhas;
			height: $tamanho-bolinhas;
			border-radius: 50%;
			border: 1px solid black;
			margin-right: $tamanho-bolinhas/2;
		}
	}
	div.pergunta{
		margin-bottom: 2em;
		p{
			text-align: center;
			margin: 0;
			&.texto-condicao{
				color: nth(nth($cores_modulos, 1), 1);
				font-size: 1.5em;
				font-weight: bold;
				line-height: 1.2;
			}
		}
	}

	div.alternativas{
		font-size: 0.9em;
		@include display(flex);
		@include justify-content(space-around);
		@include flex-wrap(wrap);
		
		button{
			margin-bottom: 0.5em;
			width: 40%;
			// z-index: 2;
			background-color: hsl(0,0%,95%);
			padding: 0.6em 1em;
			position: relative;
			border-radius: 6px;
			border: 2px solid nth(nth($cores_modulos, 1), 1);
			// @include transition(all 0.4s linear);
			// @include transition-property(background-color, color);
			outline: none;
			display: inline-block;
			@include appearance(none);
			@include user-select(none);
			font-family: $fonte-corpo;
			text-align: center;
			color: nth(nth($cores_modulos, 1), 2);
			// white-space: normal;
			&:hover{
				cursor: pointer;
			}


			span{
				display: block;
				font-size: 0.9em;
			}
		}

		
	}
}