section.quiz{
	$cor-errou: #B30002;
	$cor-acertou: darken($cor5, 5%);
	margin: 2em 0;
	text-align: left;
	padding: 2em 0 0;
	// border-radius: 20px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
	position: relative;

	& > *{
		@include transition(opacity 0.2s linear);
		&.fim{
			opacity: 0.1;
			pointer-events: none;
		}
	}
	

	div.pergunta{
		margin-bottom: 2em;
		padding: 0 1em;
		p{
			text-align: center;
			margin: 0;
			&.texto-condicao{
				color: nth(nth($cores_modulos, 1), 2);
				font-size: 1.5em;
				font-weight: bold;
				line-height: 1.2;

				@include keyframes(enunSome){
					0%{
						@include transform(translateX(0px));
						opacity: 1;
					}
					100%{
						@include transform(translateX(-100px));
						opacity: 0;
					}
				}

				@include keyframes(enunAparece){
					0%{
						@include transform(translateX(100px));
						opacity: 0;
					}

					100%{
						@include transform(translateX(0px));
						opacity: 1;
					}
				}

				&.some{
					@include animation (enunSome 0.2s ease-in 0s 1 normal forwards);
				}

				

				&.volta{
					@include animation (enunAparece 0.2s ease-out 0s 1 normal forwards);
				}
			}
		}
	}

	div.alternativas{
		font-size: 0.9em;
		@include display(flex);
		@include justify-content(space-around);
		@include flex-wrap(wrap);
		margin-bottom: 4em;
		padding: 0 1em;

		
		button{
			margin-bottom: 0.5em;
			width: 40%;
			// z-index: 2;
			background-color: hsl(0,0%,95%);
			padding: 0.6em 1em;
			position: relative;
			border-radius: 6px;
			border: 2px solid nth(nth($cores_modulos, 1), 1);
			@include transition(all 0.2s linear);
			@include transition-property(background-color, color, border, opacity);
			outline: none;
			display: inline-block;
			@include appearance(none);
			@include user-select(none);
			font-family: $fonte-corpo;
			text-align: center;
			color: nth(nth($cores_modulos, 1), 2);
			// white-space: normal;

			&:after{
				content: '';
				position: absolute;
				height: 20px;
				width: 20px;
				left: 5px;
				top: 50%;
				@include transform(translateY(-50%));
				z-index: 2;
				background-size: cover;
				background-repeat: no-repeat;
				opacity: 0;
				@include transition(opacity 0.2s linear);
			}

			&[disabled]{
				opacity: 0.3;
			}
			&:not([disabled]):hover{
				cursor: pointer;
				color: white;
				background-color: nth(nth($cores_modulos, 1), 1);
			}

			span{
				display: block;
				font-size: 0.9em;
			}

			@include keyframes(animMostrarCerta){
				0%{
					background-color: inherit;
					color: inherit;
					border-color: inherit;
				}

				0.01%{
					background-color: $cor-acertou;
					color: white;
					border-color: $cor-acertou;
				}

				10%{
					background-color: $cor-acertou;
					color: white;
					border-color: $cor-acertou;
				}

				10.01%{
					background-color: inherit;
					color: inherit;
					border-color: inherit;
				}

				20%{
					background-color: inherit;
					color: inherit;
					border-color: inherit;
				}

				20.01%{
					background-color: $cor-acertou;
					color: white;
					border-color: $cor-acertou;
				}

				100%{
					background-color: $cor-acertou;
					color: white;
					border-color: $cor-acertou;
				}
			}

			&.acertou{
				background-color: $cor-acertou;
				color: white;
				border-color: $cor-acertou;
				opacity: 1;
				&:after{
					background-image: url(../img/icon_circle_acertou.svg);
					opacity: 1;
				}
			}

			&.errou{
				background-color: $cor-errou;
				color: white;
				border-color: $cor-errou;
				opacity: 1;
				&:after{
					background-image: url(../img/icon_circle_errou.svg);
					opacity: 1;
				}

			}

			&.mostrarCerto{
				background-color: $cor-acertou;
				color: white;
				border-color: $cor-acertou;
				@include animation(animMostrarCerta 1s linear 0s 1 normal none);
				opacity: 1;
			}
		}
	}

	div.barra-progresso{
		background-color: nth(nth($cores_modulos, 1), 2);
		height: 6px;
		@include transition(width 0.2s ease-out);
		z-index: 3;
	}

	div.terminou{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: white;
		@include display(flex);
		@include justify-content(center);
		@include align-items(center);
		@include align-content(center);
		@include flex-wrap(wrap);
		z-index: 2;

		&.dn{
			display: none;
		}
		p{
			font-size: 1.5em;
			font-weight: bold;
			text-align: center;
			width: 100%;
			opacity: 0;
			span{
				color:  nth(nth($cores_modulos, 1), 2);
			}
		}
		button{
			opacity: 0;
			background-color: hsl(0,0%,95%);
			padding: 0.6em 1em;
			position: relative;
			border-radius: 6px;
			border: 2px solid nth(nth($cores_modulos, 1), 1);
			@include transition(all 0.2s linear);
			@include transition-property(background-color, color, border, opacity);
			outline: none;
			// display: inline-block;
			@include appearance(none);
			@include user-select(none);
			font-family: $fonte-corpo;
			text-align: center;
			color: nth(nth($cores_modulos, 1), 2);
			// white-space: normal;

			// &:after{
			// 	content: '';
			// 	position: absolute;
			// 	height: 20px;
			// 	width: 20px;
			// 	left: 5px;
			// 	top: 50%;
			// 	@include transform(translateY(-50%));
			// 	z-index: 2;
			// 	background-size: cover;
			// 	background-repeat: no-repeat;
			// 	opacity: 0;
			// 	@include transition(opacity 0.2s linear);
			// }

			&[disabled]{
				opacity: 0.3;
			}
			&:not([disabled]):hover{
				cursor: pointer;
				color: white;
				background-color: nth(nth($cores_modulos, 1), 1);
			}
		}

		@include keyframes(sobe){
			0%{
				@include transform(translateY(50px));
				opacity: 0;
			}

			100%{
				@include transform(translateY(0px));
				opacity: 1;
			}
		}


		&.mostrafilhos{
			p,button{
				@include animation(sobe 0.2s ease-out 0s 1 normal forwards);
			}

			button{
				@include animation-delay(0.2s);
			}
		}
	}


	// div.contador{
	// 	@include display(flex);
	// 	@include justify-content(space-between);
	// 	div{
	// 		$tamanho-bolinhas: 6px;
	// 		width: auto;
	// 		@include flex-grow(1);
	// 		height: $tamanho-bolinhas;
	// 		border: 1px solid nth(nth($cores_modulos, 1), 2);
	// 		background-color: transparent;
	// 		@include transition(all 0.1s linear);
	// 		@include transition-property(background-color, border-color);
	// 		margin-right: $tamanho-bolinhas;
	// 		position: relative;
	// 		overflow: hidden;
	// 		&:before{
	// 			content: '';
	// 			position: absolute;
	// 			width: 100%;
	// 			height: 100%;
	// 			background-size: cover;
	// 			background-repeat: no-repeat;
	// 		}
	// 		&.atual{
	// 			background-color: nth(nth($cores_modulos, 1), 2);
	// 		}
	// 		&.errou{
	// 			border-width: 2px;
	// 			background-color: $cor-errou;
	// 			border-color: $cor-errou;
				
	// 			&:before{
	// 				background-image: url(../img/icon_errado.svg)
	// 			}
	// 		}

	// 		&.acertou{
	// 			border-width: 2px;
	// 			background-color: $cor-acertou;
	// 			border-color: $cor-acertou;
				
	// 			&:before{
	// 				background-image: url(../img/icon_certo.svg)
	// 			}
	// 		}
	// 	}
	// }
}


table.resposta-quiz{
	display: none;

	th{
		color: nth(nth($cores_modulos, 1), 2);
		font-weight: bold;

	}

	td{
		p{
			margin: 0 0 0.5em;
		}
		&:first-child{
			font-family: $fonte-titulo;
			color: nth(nth($cores_modulos, 1), 2);
			font-size: 1.2em;
		}
	}
	&.visivel{
		display: table;
	}
}